
@{
    ViewBag.Title = "Create";
}

<h2>Create Fund</h2>
<form action="/Fund/Create" method="POST">
    <div>
        <label>Fund Name:</label> <input type="text" name="FundName" />
    </div>
    <div>
        <input type="submit" value="Create Fund" />

    </div>
</form>